@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

body {
	margin: 0;
	font-family: 'League Spartan', sans-serif;
	font-size: 10px;
	scrollbar-width: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: none; 
}

body::-webkit-scrollbar {
	display: none; 
}

#root {
	height: calc(100vh - 3rem);
	display: grid;
	place-items: center;
	padding: 0 1.5rem;
}

	@media (min-width: 600px) {
		#root {
			padding: 1.5rem;
		}
	}

footer {
	display: none;
	text-align: center;
	padding: 1.5rem;
	letter-spacing: 0.05rem;
	font-size: 0.8rem;
}	
